{% extends "site_base.html" %}
{% load url from future %}

{% block head_title %}Home{% endblock %}

{% block content %}
     <div class="hero-unit">
        <h1>Denigma Destiny</h1>
        <p>This is the Denigma Destiny Project. It includes relational as well NOSQL databases and features an ecosystem of novel innovative applications. Use it as a starting point to create something that changes mankind's destiny.</p>
        {% if user.is_authenticated %}
            <p><a href="{% url "about" %}" class="btn btn-primary btn-large">Read More &raquo;</a></p>
        {% else %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            {#  <p>You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a></p>#}
            <p><a href="{{ signup_url }}" class="btn btn-primary btn-large">Participate &raquo;</a></p>
        {% endif %}
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Research</h2>
          <p>The Nature of Being. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Programming</h2>
          <p>Information Technologies. </p>
           <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Design</h2>
          <p>Media and Artworks. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span4">
          <h2>Collaboration</h2>
          <p>To Link Researchers. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Machine Learning</h2>
          <p>For the Construction of a Web Intelligence. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Science</h2>
          <p>To Solve Problems. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}